<form class='auth'>
  <h1 class='auth--header'>Регистрация</h1>
  <div class='auth--formWrapper'>
    <div class='input-wrapper'>

      <label class='label' for='email'>Почта</label>
      <input class='input' id='email' name='email' placeholder='email' />
    </div>

    {{!-- <div class='input-wrapper'>
      <label class='label' for='login'>Логин</label>
      <input
        class='input'
        id='login'
        name='login'
        placeholder='login'
      />
    </div> --}}

    {{> input label='Логин' name='Login'}}

     <div class='input-wrapper'>
      <label class='label' for='login'>Логин</label>
      <input
        class='input'
        id='login'
        name='login'
        placeholder='login'
      />
    </div>

     <div class='input-wrapper'>
      <label class='label' for='login'>Логин</label>
      <input
        class='input'
        id='login'
        name='login'
        placeholder='login'
      />
    </div>

     <div class='input-wrapper'>
      <label class='label' for='login'>Логин</label>
      <input
        class='input'
        id='login'
        name='login'
        placeholder='login'
      />
    </div>

     <div class='input-wrapper'>
      <label class='label' for='login'>Логин</label>
      <input
        class='input'
        id='login'
        name='login'
        placeholder='login'
      />
    </div>

     <div class='input-wrapper'>
      <label class='label' for='login'>Логин</label>
      <input
        class='input'
        id='login'
        name='login'
        placeholder='login'
      />
    </div>
  </div>

  <div class='auth--button-wrapper'>
    {{> button indefication='register' type='submit' text='Зарегистрироваться'}}
    <button class='button' type='submit'>Зарегистрироваться</button>
    <button class='link' type='button'>Войти</button>

  </div>
</form>