<form class='auth'>
  <h1 class='auth--header'>Вход</h1>
  <div class='auth--formWrapper'>
    <div class='input-wrapper'>

      <label class='label' for='login'>Логин</label>
      <input class='input' id='login' name='login' placeholder='login' />
    </div>

    <div class='input-wrapper'>
      <label class='label' for='password'>Пароль</label>
      <input
        class='input'
        id='password'
        name='password'
        placeholder='password'
      />
    </div>
  </div>

  <div class='auth-buttonWrapper'>
    <button class='button' type='submit'>Авторизоваться</button>
    <button class='link' type='button'>Нет аккаутна?</button>

  </div>
</form>