<section>
  <button>
    <span class="material-icons">file_present</span>
  </button>
  <section>
    <img
      src="https://images.unsplash.com/profile-1589352637695-cd91ccd020f0image?dpr=2&auto=format&fit=crop&w=32&h=32&q=60&crop=faces&bg=fff"
    />
    <p>Bdf</p>

    <ul>
      <li>
        <span>Email</span>
        <span>Email</span>
      </li>
    </ul>

    <ul>
      <li>
        <span>Изменить данные</span>
      </li>
    </ul>
  </section>
</section>
