<section class='chat' style="display: flex;">
  <section class='chat-sidebar' style="width: 30%;">
    <div class='control-panel'>
      <button>к профилю</button>
      <input type="search" />
    </div>
      <ul class='chat-list'>
        <li class='chat-item'>
            <img class="chat-item--image" src="https://images.unsplash.com/profile-1589352637695-cd91ccd020f0image?dpr=2&auto=format&fit=crop&w=32&h=32&q=60&crop=faces&bg=fff" />
            <div  class="chat-item--info-wrapper" >
              <h3>Андрей</h3>
              <p>Текс сообщения</p>
            </div>
            <div  class="chat-item--data-wrapper" >
              <span>10:49</span>
              <span>19</span>
            </div>
        </li>
          <li class='chat-item'>
            <img class="chat-item--image" src="https://images.unsplash.com/profile-1589352637695-cd91ccd020f0image?dpr=2&auto=format&fit=crop&w=32&h=32&q=60&crop=faces&bg=fff" />
            <div  class="chat-item--info-wrapper" >
              <h3>Андрей</h3>
              <p>Текс сообщения</p>
            </div>
            <div  class="chat-item--data-wrapper" >
              <span>10:49</span>
              <span>19</span>
            </div>
        </li>
          <li class='chat-item'>
            <img class="chat-item--image" src="https://images.unsplash.com/profile-1589352637695-cd91ccd020f0image?dpr=2&auto=format&fit=crop&w=32&h=32&q=60&crop=faces&bg=fff" />
            <div  class="chat-item--info-wrapper" >
              <h3>Андрей</h3>
              <p>Текс сообщения</p>
            </div>
            <div  class="chat-item--data-wrapper" >
              <span>10:49</span>
              <span>19</span>
            </div>
        </li>
      </ul>
  </section>
  <section class='chat-main' style="width: 70%;">
    <header  class='header'>
      <div class='header--info-wrapper'>
        <img class="image" src="https://images.unsplash.com/profile-1589352637695-cd91ccd020f0image?dpr=2&auto=format&fit=crop&w=32&h=32&q=60&crop=faces&bg=fff" />
        <h3 class="name">Андрей</h3>
      </div>
      <button>дополнительные действия</button>
    </header>
    <div class="messsage-area">
      <div>
        <h3>Вчера</h3>
        <div>
          <p>
            Привет! Смотри, тут всплыл интересный кусок лунной космической
            истории — НАСА в какой-то момент попросила Хассельблад адаптировать
            модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты
            летали с моделью 500 EL — и к слову говоря, все тушки этих камер все
            еще находятся на поверхности Луны, так как астронавты с собой
            забрали только кассеты с пленкой. Хассельблад в итоге адаптировал
            SWC для космоса, но что-то пошло не так и на ракету они так никогда
            и не попали. Всего их было произведено 25 штук, одну из них недавно
            продали на аукционе за 45000 евро.
          </p>
          <span>10:23</span>
        </div>
        <div>
          <p>Круто !!!</p>
          <span>12:23</span>
        </div>
      </div>
    </div>
    <form class="message-form">
      <button type="button">Прикрепить фото</button>
      <input type="text" />
      <button type="submit">Отправить</button>
    </form>
  </section>
</section>
